SECRET_KEY=
STRIPE_API_KEY=

DEBUG=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

# Задайте имя и пароль суперпользователя для установки через кастомную команду
SUPER_USER_LOGIN_NAME=
SUPER_USER_PASSWORD=

# Настройки кеширования (Redis)
REDIS_LOCATION =          # например: "redis://localhost:6379/1"

# Настройки брокера для CELERY
CELERY_BROKER_URL =       # например: "redis://localhost:6379/5"
CELERY_RESULT_BACKEND =   # например: "redis://localhost:6379/5"
